In [1]:
'''
MSSV: 21110429
Tên: Nguyễn Quang Trường
Bài Thực Hành Tuần 2
Lớp: 20TH_KDL
'''

'\nMSSV: 21110429\nTên: Nguyễn Quang Trường\nBài Thực Hành Tuần 2\nLớp: 20TH_KDL\n'

# Bài 2 SỰ TƯƠNG ĐỒNG VÀ CÁC KHOẢNG CÁCH

# Câu 1

In [2]:
import numpy as np
import pandas as pd

In [3]:
url="https://archive.ics.uci.edu/ml/machine-learning-databases/ionosphere/ionosphere.data"
df=pd.read_csv(url,header=None)

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,g
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,b
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,g
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,b
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,g

### Xử lý bỏ cột cuối

In [5]:
df=df[df.columns[:-1]]

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,0.56811,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.20332,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,0.57528,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,1.00000,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,0.03286,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697

#### Khởi tạo các điểm point1, point2, point3 tương ướng là cột 0, 1, 2 của array và tính chuẩn p =1, 2, ∞

In [7]:
array=df.values

In [8]:
point1=array[:,0]
point2=array[:,1]
point3=array[:,2]

## P=1

In [9]:
# Chuan p=1
dist1_2=np.linalg.norm(point1-point2,ord=1)
dist1_2

313.0

In [10]:
dist1_3=np.linalg.norm(point1-point3,ord=1)
dist1_3

121.88901

In [11]:
dist2_3=np.linalg.norm(point2-point3,ord=1)
dist2_3

261.14495

## P=2

In [12]:
dist1_2=np.linalg.norm(point1-point2,ord=2)
dist1_2

17.69180601295413

In [13]:
dist1_3=np.linalg.norm(point1-point3,ord=2)
dist1_3

10.480974592007176

In [14]:
dist2_3=np.linalg.norm(point2-point3,ord=2)
dist2_3

15.201079185317733

## P= +$\infty$

In [15]:
dist1_2=np.linalg.norm(point1-point2,ord=np.inf)
dist1_2

1.0

In [16]:
dist1_3=np.linalg.norm(point1-point3,ord=np.inf)
dist1_3

2.0

In [17]:
dist2_3=np.linalg.norm(point2-point3,ord=np.inf)
dist2_3

1.0

## Tính các cột còn lại

In [18]:
# Hàm tính chuẩn k , trả về ma trận, với a[i,j] của ma trận là khoảng cách chuẩn k của feature i và j
# nếu i=j thì bằng 0 
def distp(k):
    x,y=df.shape
    dist_p=np.zeros((y,y))
    for i in range(0,y):
        for j in  range(0,y):
            dist_p[i,j]=np.linalg.norm(df[i]-df[j],ord=k)
    
    return dist_p

### Chuẩn p=1

In [19]:
dist_p1=pd.DataFrame(distp(1))

In [20]:
dist_p1.head()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,0.00000,313.00000,121.88901,325.42547,140.02517,294.32296,149.91663,295.10451,165.34132,281.34777,...,215.95673,353.98659,192.88408,371.40770,212.16574,354.10789,219.26768,345.33161,212.37336,325.91748
1,313.00000,0.00000,261.14495,100.06339,251.41663,109.70994,225.64575,130.09521,218.04044,122.93789,...,212.88107,131.03049,237.05074,143.12302,206.22256,126.07023,198.00084,128.97841,178.07762,112.19500
2,121.88901,261.14495,0.00000,245.23268,91.65308,241.69967,103.93022,245.88890,106.81769,227.49332,...,145.15172,295.74792,155.25367,290.46755,141.62733,274.32608,166.06111,279.86066,160.08483,266.52919
3,325.42547,100.06339,245.23268,0.00000,255.24804,141.13789,242.84186,127.10732,261.82635,134.14978,...,237.47678,178.15582,242.48753,165.41097,218.48311,119.42404,231.81981,171.14966,220.34281,150.01723
4,140.02517,251.41663,91.65308,255.24804,0.00000,222.87407,81.77406,246.82142,116.69603,239.12138,...,162.24496,295.65858,154.95921,280.16285,158.58627,276.02162,137.97823,268.33600,141.84521,269.00727

**dist_p1 là ma trận vuông nxn với n là số feature của dữ liệu ban đầu, ma trận đối xứng qua đường chéo vì d(x,y)=d(y,x). Và khoảng cách trên đường chéo chính là 0 vì d(x,x)=0.**

### Chuẩn p=2

In [21]:
dist_p2=pd.DataFrame(distp(2))

In [22]:
dist_p2.head()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,0.000000,17.691806,10.480975,18.834666,11.851166,17.512311,11.661697,18.306361,12.394797,17.275059,...,15.333141,20.814664,13.892669,21.573071,15.022564,20.844420,15.147948,20.469094,14.635572,19.485314
1,17.691806,0.000000,15.201079,8.300223,14.879509,8.890169,13.826132,9.995690,13.488823,9.668616,...,13.122186,9.606094,14.008500,10.372173,12.897517,9.517697,12.566820,9.608359,11.766616,8.765986
2,10.480975,15.201079,0.000000,16.060531,9.774475,15.930955,9.950138,16.603206,9.962975,15.324227,...,12.785542,19.192916,13.016933,18.609837,12.566765,17.999406,13.460282,18.076815,12.817242,17.358017
3,18.834666,8.300223,16.060531,0.000000,16.473790,13.092644,15.847577,11.138044,16.800808,11.210435,...,15.730498,14.164224,15.991957,13.360966,15.190903,10.325691,15.692690,13.446878,14.877186,11.843847
4,11.851166,14.879509,9.774475,16.473790,0.000000,15.655963,8.567773,16.631162,10.210532,15.633023,...,13.239257,18.699801,12.752450,17.927383,13.193443,17.729120,12.142038,17.621625,11.811189,17.580854

### Chuẩn p=$\infty$

In [23]:
dist_inf= pd.DataFrame( distp(np.inf))

In [24]:
dist_inf.head()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,0.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,2.0,1.0,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,2.0,1.0,2.0,0.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
4,2.0,1.0,2.0,2.0,0.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

# Câu 2

In [25]:
df2=pd.read_csv("kddcup.data.csv",header=None)

In [26]:
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0,tcp,http,SF,215,45076,0,0,0,0,...,0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,normal.
1,0,tcp,http,SF,162,4528,0,0,0,0,...,1,1.0,0.0,1.00,0.0,0.0,0.0,0.0,0.0,normal.
2,0,tcp,http,SF,236,1228,0,0,0,0,...,2,1.0,0.0,0.50,0.0,0.0,0.0,0.0,0.0,normal.
3,0,tcp,http,SF,233,2032,0,0,0,0,...,3,1.0,0.0,0.33,0.0,0.0,0.0,0.0,0.0,normal.
4,0,tcp,http,SF,239,486,0,0,0,0,...,4,1.0,0.0,0.25,0.0,0.0,0.0,0.0,0.0,normal.

In [27]:
# XÓA CỘT 1,2,3,41
df2=df2.drop([1,2,3,41],axis=1)

In [28]:
df2.head()

,0,4,5,6,7,8,9,10,11,12,...,31,32,33,34,35,36,37,38,39,40
0,0,215,45076,0,0,0,0,0,1,0,...,0,0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0
1,0,162,4528,0,0,0,0,0,1,0,...,1,1,1.0,0.0,1.00,0.0,0.0,0.0,0.0,0.0
2,0,236,1228,0,0,0,0,0,1,0,...,2,2,1.0,0.0,0.50,0.0,0.0,0.0,0.0,0.0
3,0,233,2032,0,0,0,0,0,1,0,...,3,3,1.0,0.0,0.33,0.0,0.0,0.0,0.0,0.0
4,0,239,486,0,0,0,0,0,1,0,...,4,4,1.0,0.0,0.25,0.0,0.0,0.0,0.0,0.0

In [29]:
df2.describe()

,0,4,5,6,7,8,9,10,11,12,...,31,32,33,34,35,36,37,38,39,40
count,4.898431e+06,4.898431e+06,4.898431e+06,4.898431e+06,4.898431e+06,4.898431e+06,4.898431e+06,4.898431e+06,4.898431e+06,4.898431e+06,...,4.898431e+06,4.898431e+06,4.898431e+06,4.898431e+06,4.898431e+06,4.898431e+06,4.898431e+06,4.898431e+06,4.898431e+06,4.898431e+06
mean,4.834243e+01,1.834621e+03,1.093623e+03,5.716116e-06,6.487792e-04,7.961733e-06,1.243766e-02,3.205108e-05,1.435290e-01,8.088304e-03,...,2.329811e+02,1.892142e+02,7.537132e-01,3.071111e-02,6.050520e-01,6.464107e-03,1.780911e-01,1.778859e-01,5.792780e-02,5.765941e-02
std,7.233298e+02,9.414311e+05,6.450123e+05,2.390833e-03,4.285434e-02,7.215084e-03,4.689782e-01,7.299408e-03,3.506116e-01,3.856481e+00,...,6.402094e+01,1.059128e+02,4.111860e-01,1.085432e-01,4.809877e-01,4.125978e-02,3.818382e-01,3.821774e-01,2.309428e-01,2.309777e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,4.500000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.550000e+02,4.900000e+01,4.100000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.000000e+00,5.200000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.550000e+02,2.550000e+02,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,0.000000e+00,1.032000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.550000e+02,2.550000e+02,1.000000e+00,4.000000e-02,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,5.832900e+04,1.379964e+09,1.309937e+09,1.000000e+00,3.000000e+00,1.400000e+01,7.700000e+01,5.000000e+00,1.000000e+00,7.479000e+03,...,2.550000e+02,2.550000e+02,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [30]:
# kiểm tra dữ liệu có bị null
df2.isnull().sum().sum()

0

In [31]:
# kiểm tra data có Nan không
df2.isna().sum().sum()

0

In [32]:
# Để tính độ đo thích ứng và độ đo tần suất xuất hiện ngược ta cần rời rạc hóa dữ liệu

In [33]:
from sklearn.preprocessing import KBinsDiscretizer

In [34]:
discretizer=KBinsDiscretizer(n_bins=10,encode='ordinal', strategy='uniform' )

In [35]:
df_equi_with=pd.DataFrame(discretizer.fit_transform(df2.values),columns=df2.columns)

C:\Users\quang\anaconda3\lib\site-packages\sklearn\preprocessing\_discretization.py:245: UserWarning: Feature 16 is constant and will be replaced with 0.
  warnings.warn(

Cảnh báo về feature 16

Xét 2 bản ghi $ X =(𝑥_1 … 𝑥_𝑑) $ và  $ Y = (𝑦_1 … 𝑦_𝑑) $, sự tương đồng đơn giản nhất giữa 2 
bản ghi này được xác định như sau:
$$ Sim(x_i, y_i)= 
\sum_{i=1}^d S(x_i,y_i)
 $$

Với độ đo **inverse occurrence frequency** ta có công thức tính 
$$ S(x_i,y_i)=  
\begin{cases}
 \frac{1}{ p_k(x_i)^2}, x_i=y_i\\
  0 \ x_i \ne y_1
\end{cases}
$$

Nên ta có hàm sau:

In [36]:
def inv_occur_frequency_measure(x,y):
    
    a,b=df_equi_with.shape
    index=df_equi_with.columns
    Sum=0;
    for i in range(0,b):
        if x[i]==y[i]:
            count=df_equi_with[index[i]].value_counts()
            pk=count[x[i]]/len(df_equi_with[index[i]]) # tính P_k(x_i)
            Sum=Sum+1/(pk**2)
    return Sum

Với tham số của hàm inv_occur_frequency là hai bản ghi X,Y

In [37]:
# ta tính bản ghi 0 và 1
inv_occur_frequency_measure(df_equi_with.iloc[0].values,df_equi_with.iloc[1].values)

686.7309025371022

Với độ đo **overlap/match** ta có công thức tính:
$$ S(x_i,y_i)=\begin{cases}
 1, x_i=y_i\\
  0 \ x_i \ne y_1
\end{cases} $$
Do đó ta có hàm

In [38]:
def match_measure(x,y):
    count=0
    a,b=df_equi_with.shape
    for i in range(0,b):
        if x[i]==y[i]:
            count=count+1
    
    return count

In [39]:
# độ tương đồng giữa bản ghi 0 và 1
match_measure(df_equi_with.iloc[0].values,df_equi_with.iloc[0].values)

38

### Tính láng giềng gần nhất cho điểm dữ liệu

Hàm tính láng giềng gần theo độ đo match measure 
* Đầu vào hàm là 1 điểm dữ liệu **point** và tập điểm dữ liệu **points** cần tính láng giềng và **k** điểm láng giềng

In [40]:

def nearest_neighbor_match_measure(point, points,k):

    measure_match=[]
    for p in points:
        measure_match.append(match_measure(point,p)) # lưu độ đo vào 1 araay
    sorted_measure=np.argsort(measure_match) # lưu các vị trí sau khi xắp xếp tăng so với ban đầu


    k_nearest=sorted_measure[-k:] # lấy K điểm cuối do dữ liệu xếp tăng
    return points[k_nearest] # Kết quả trả về các bản ghi có láng giềng gần với point

Ta tính láng giềng bản ghi hàng thứ nhất trong bộ bản ghi từ hàng thứ 2 đến 10000 và lấy 3 bộ

In [41]:

point=df_equi_with.iloc[0].values
points=df_equi_with.iloc[1:1000].values
k=3
nearest_neighbor_match_measure(point, points,k)

array([[0., 0., 0., 0., 0., 0., 0., 0., 9., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 9., 0., 0., 0., 0., 9., 0.,
        0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 9., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 9., 0., 0., 0., 0., 9., 0.,
        0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 9., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 9., 0., 0., 0., 0., 9., 0.,
        0., 0., 0., 0., 0., 0.]])

Tương tự ta có hàm tính láng giềng gần theo độ đo **inverse occurrence frequency measure**:
với **point** là điểm cần tìm kiếm láng giềng, **points** là bộ dữ liệu để tìm láng giềng, **k** là số bộ cần tìm láng giềng

In [50]:

def nearest_neighbor_iof_measure(point, points,k):

    measure_iof=[]
    for p in points:
        measure_iof.append(inv_occur_frequency_measure(point,p))
    sorted_measure=np.argsort(measure_iof)

    
    k_nearest=sorted_measure[:k]
    return points[k_nearest]

In [52]:
point=df_equi_with.iloc[0,:].values
points=df_equi_with.iloc[0:3,:].values
k=3
nearest_neighbor_iof_measure(point,points,k)

array([[0., 0., 0., 0., 0., 0., 0., 0., 9., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 9., 0., 0., 0., 0., 9., 0.,
        9., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 9., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 9., 0., 0., 0., 0., 9., 0.,
        5., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 9., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 9., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0.]])